{% extends "base.html" %} {% import 'bootstrap_wtf.html' as wtf %} {% block
content %} {% if current_user.is_anonymous %}
<h3>Log in and do a set!</h3>
{% else %}
<h3>Log a set of pushups!</h3>
<br />
<form action="/log_set" method="post" novalidate>
  {{ form.hidden_tag() }}
  <p>
    {{ form.pushup_count.label }}: {{ form.pushup_count(size=5,
    value=pushup_average) }}
  </p>
  <p>{{ form.submit() }}</p>
</form>
{% endif %}
<hr />
<div class="row">
<div class="column">
<h3>Leaderboard - Sets In Last 7 Days</h3>
<table id="sets_leaderboard">
  <tbody>
    {% for last7 in last_7_day_sets %}
    <tr></tr>
    <td>{{ last7[0] }}: </td>
    <td>{{ last7[1] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
<div class="divider"></div>
<div class="column">
  <h3>Stats - All Users</h3>
  <table id="stats_all_users">
    <tbody>
      <tr>
        <td>All Time Sets: </td>
        <td>{{ "{:,}".format(all_time_sets) }}</td>
      </tr>
      <tr>
        <td>All Time Reps: </td>
        <td>{{ "{:,}".format(all_time_reps) }}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<div id = "stat_detail">
<hr />
<h3>Set Details - All Time</h3>
<table id="hosts" class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>When</th>
      <th>How Many</th>
    </tr>
  </thead>
  <tbody>
    {% for pushup_set in pushup_sets %}
    <tr>
      <td><a href="{{ url_for('user', username=pushup_set.who.username) }}">{{ pushup_set.who.username }}</a></td>
      <td>{{ moment(pushup_set.timestamp).format('YYYY-MM-DD h:mm a') }}</td>
      <td>{{ pushup_set.reps }}</td>
    </tr>
    {% endfor %}
  </tbody>
  {% endblock %}
</table>
</div>