name: Build Docker Container

on:
  push:
    branches:
      - main
      - master 

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checking out the repo
        uses: actions/checkout@v3
      - name: Docker Login and setup
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_TOKEN}}
      - name: Building the image
        run: docker build -t ${{secrets.DOCKERHUB_USERNAME}}/pushup_tracker:v2 .
      - name: pushing the image
        run: docker push ${{secrets.DOCKERHUB_USERNAME}}/pushup_tracker:v2

